@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;
    width: 100%;
    background: #000;
    display: flex;
}

/* ----------- SIDEBAR --------------- */
.sidebar{
    height: 100%;;
    width: 340px;
    background: #000;
    border-radius: 1rem;
    margin: 0.5rem 0.5rem;
    position: relative;
    left: 0;
    transition: all 0.5s ease;
}
.nav{
    background: #121212;
    border-radius: 1rem;
}
.nav ul li{
    list-style: none;
    padding: 1rem;
    opacity: 0.7;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}
.nav ul li i{
    color: #fff;
    cursor: pointer;
    font-size: 1.35rem;
    margin-right: 1rem;
}
.active{
    opacity: 1 !important;
}
.nav ul li:hover{
    opacity: 1;
}

.close{
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 20px;
    font-size: 1.25rem;
    margin: 0.5rem 0;
    opacity: 0;
}

/* Library design */
.library{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background: #121212;
    border-radius: 1rem;
    padding: 0.5rem;
}

.library-heading{
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.5rem;
}

.library-logo{
    display: flex;
    opacity: 0.7;
    align-items: baseline;
    justify-content: space-around;
}
.library-logo:hover{
    opacity: 1;
}
.library-logo img{
    width: 24px;
    margin: 0 0.5rem;
    cursor: pointer;
}

.library-logo p{
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.library-icons{
    display: flex;
    cursor: pointer;
}
.library-icons i{
    opacity: 0.7;
    margin: 0 0.25rem;
    font-size: 1.25rem;
    color: #fff;
}
.library-icons i:hover{
    opacity: 1;
}

.library-box{
    background: #242424;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin: 0.5rem;
    width: 100%;
}

.library-box h3{
    color: #fff;
    font-size: 1.15rem;
    margin: 0.5rem 0;
    line-height: 2;
}
.library-box p{
    color: #fff;
    font-size: var(--text);
    margin: 0.5rem 0;
    line-height: 2;
}
.white{
    background: #fff;
    color: #000;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: 700;
    padding: 0.75rem;
    cursor: pointer;
    margin: 0.5rem 0;
}

/* ---------- MAIN-CONTENT ------------ */
.main-content{
    height: 100%;
    background: #141414;
    width: 100%;
}
.menu{
    color: #fff;
    position: relative;
    left: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.5rem 0;
    opacity: 0;
}

/* ------------- PLAYER -------------- */
.music-player{
    height: 90px;
    background: #555;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width : 950px){
    .sidebar{
        /* position: relative; */
        left: -350px;
        z-index: 5;
    }
    .close{
        opacity: 1;
    }
    .menu{
        opacity: 1;
    }
    .main-content{
        position: absolute;
        top: 0;
        left: 0;
    }
}